@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../../public/fonts/ngaaaji/ngaaaji.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    /* --ring: 0 0% 3.9%; */

    --radius: 0.5rem;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 238 245, 239;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    /* --ring: 0 0% 83.1%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'lpmq';
  src: url(/fonts/lpmq.otf) format('opentype');
  font-display: swap;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.bg-green-linear {
  /* background: linear-gradient(90deg, rgba(88,213,131,1) 20%, rgba(69,171,141,1) 100%); */
  /* background: linear-gradient(90deg, rgba(88,213,131,1) 0%, rgba(69,171,141,1) 100%); */
  background: linear-gradient(to right, #52bf96, #00623b);
}

.box-shadow-custom {
  box-shadow:
    0px 2px 1px -1px rgb(0 0 0 / 0%),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.bg-mesjid {
    background-image: url('/bg-masjid.svg') !important;
}

.font-arabic {
  font-family: 'lpmq', 'Traditional Arabic', Arial, sans-serif;
  line-height: 2;
}
.frame-ayah-color {
  background-image: url('/frame-ayah-bg.svg') !important;
}
.frame-ayah {
  background-image: url('/frame-ayah-bg-1.svg');
  width: 34px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rhap_container {
  box-shadow: none !important;
}
.rhap_progress-filled {
  background-color: #52bf96 !important;
}
.rhap_main-controls-button {
    color: #868686 !important;
}
.rhap_progress-indicator {
  background-color: #2d8f67 !important;
}
.rhap_progress-bar {
  height: 3px !important;
}
.rhap_progress-indicator {
  height: 10px !important;
  width: 10px !important;
  top: -3px !important;
}
.rhap_progress-bar-show-download {
  background-color: #eef5ef !important;
}
.rhap_progress-container {
  position: absolute;
  width: 100%;
  left: -15px;
  top: -9px;
}
.rhap_controls-section,
.rhap_header {
  margin: 0 !important;
}
.rhap_time {
  visibility: hidden;
  font-size: 12px !important;
}
